@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Spartan:wght@700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: inherit;
	margin: 0;
	padding: 0;
}

.page-wrap {
	font-family: "Josefin Sans", sans-serif;
	padding: 3rem 1.7rem 0;
	font-weight: 400;
	font-size: 18px;
	min-height: 100vh;
	background-image: url(../assets/bg-mobile-light.jpg);
	background-repeat: no-repeat;
	background-position: top 0 center;
	background-size: 100vw 200px, cover;
	background-color: var(--Very-Light-Gray);
}

.todo-wrapper {
	max-width: 500px;
	margin: auto;
}

@media (min-width: 650px) {
	.page-wrap {
		background-image: url(../assets/bg-desktop-light.jpg);
		background-size: 100vw 14rem, cover;
		padding: 4rem 1.7rem 0;
	}
}
