.filters {
	display: flex;
	justify-content: center;
	padding: 1rem;
	background: white;
	border-radius: 5px;
	gap: 1.3rem;
	margin-bottom: 2rem;
}

.filters button {
	background: 0;
	border: 0;
	color: #777a92;
	font-weight: 700;
	opacity: 0.6;
	position: relative;
	cursor: pointer;
}

.filters button:hover {
	color: #393a4c;
}

.filters button.selected {
	color: #3a7bfd;
}

@media (min-width: 650px) {
	.filters {
		width: 200px;
		margin: auto;
		margin-top: -3rem;
		padding: 0;
		margin-bottom: 4rem;
		left: -12px;
		position: relative;
	}

	.filters button {
		font-size: 15px;
		opacity: 0.6;
	}
}
