.todo {
	position: relative;
	display: flex;
	align-items: center;
	padding: 1rem 1.5rem 1rem 1.1rem;
}

.todo::after {
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	bottom: -0.1em;
	height: 1px;
	background: currentColor;
	opacity: 0.1;
}

[type="checkbox"] {
	/* transform: scale(0.1); */
	opacity: 0;
	position: absolute;
}

.complete label {
	opacity: 0.4;
}

.todo label p {
	position: absolute;
}

.todo label p::after {
	content: "";
	position: absolute;
	left: -0.1em;
	right: 0;
	top: 7px;
	width: 104%;
	height: 2px;
	background: currentColor;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 300ms ease-in-out;
}

.todo.complete label p::after {
	transform: scaleX(1);
	transform-origin: left;
}

.checkbox-wrap {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #cacde8;
	z-index: 0;
	margin-right: 1rem;
	order: -1;
}

.todo.complete .checkbox-wrap {
	background: linear-gradient(145deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo.complete .checkbox-wrap .custom-checkbox {
	background-color: transparent;
	background-image: url(../assets/icon-check.svg);
	background-repeat: no-repeat;
	top: 21px;
	left: 23px;
	background-size: 10px 10px;
}

.custom-checkbox {
	position: absolute;
	left: 18.9px;
	top: 17px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: white;
	z-index: 2;
}

label {
	font-size: 14px;
	position: absolute;
	width: 90%;
	height: 52px;
	display: flex;
	align-items: center;
	padding-left: 3.4rem;
	left: 0;
}

button.delete-task {
	width: 20px;
	height: 20px;
	background-image: url(../assets/icon-cross.svg);
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: center;
	margin-left: auto;
	cursor: pointer;
	z-index: 1;
	border: 0;
	background-color: white;
	visibility: hidden;
}

.todo:hover .checkbox-wrap,
[type="checkbox"]:focus ~ .checkbox-wrap {
	background: linear-gradient(145deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo:hover button.delete-task,
.todo:focus button.delete-task {
	visibility: visible;
}
